//

// @mixin flexAlignGap ($flexValor,$alignValor,$gapValor) {
//    flex-direction: $flexValor;
//    align-items: $alignValor;
//    gap: $gapValor;
//    }

//    $colorBodyPrincipal: antiquewhite;
//    $colorFontPrincipal: rgb(18, 145, 138);
//    $colorBackgroundPrincipal: (18, 145, 139, 0.068);
//    $colorBackgroundSecundario: (250, 215, 227, 0.486);


// _variablesMixins.scss

// Variables de colores
$colorBodyPrincipal: antiquewhite;
$colorFontPrincipal: rgb(18, 145, 138);
$colorBackgroundPrincipal: rgba(18, 145, 139, 0.068);
$colorBackgroundSecundario: rgba(250, 215, 227, 0.486);

// Mixins para flexbox
@mixin flexAlignGap($flexValor, $alignValor, $gapValor) {
    flex-direction: $flexValor;
    align-items: $alignValor;
    gap: $gapValor;
}




